.box {
  display: flex;
  padding: 10px;
  border-radius: 1px solid lightgray;
  background-color: #fff;
  border-radius: 10px;
  cursor: pointer;
  max-width: 700px;
}

.box:hover {
  border: 1px solid rgb(175, 175, 175);
}

.info {
  display: flex;
  align-items: center;
}

.question {
  display: flex;
  margin-top: 8px;
}

h3 {
  font-weight: bold;
  margin-left: 10px;
  font-size: large;
}
