.header {
  display: flex;
  align-items: center;
  position: sticky;
  padding: 20px 10px;
}

.header > img {
  height: 60px;
}

.header-content {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}
.Title {
  font-size: medium;
}

.header-icons {
  margin-left: 40%;
  display: flex;
}

.header-icon {
  padding: 5px;
  cursor: pointer;
  font-size: xx-large;
  margin-left: 20px;
  margin-right: 20px;
}

.header-input {
  display: flex;
  align-items: center;
  border: 1px solid black;
  padding: 5px;
  border-radius: 300px;
  margin-left: 50px;
  margin-bottom: 5px;
}

.header-input > input {
  background-color: transparent;
  outline: none;
  border: none;
  color: rgb(49, 49, 49);
}

.search {
  height: 20px;
  color: black;
}

.header-Rem {
  display: flex;
  align-items: center;
  margin-left: 100px;
  font-size: xx-large;
  cursor: pointer;
}

.avatar {
  object-fit: contain;
  height: 40px;
  border-radius: 100px;
  margin-right: 10px;
}

.button {
  white-space: nowrap;
  background-color: #222;
  border: none;
  border-radius: 20px;
  margin-bottom: 7px;
  color: white; /* White text */
  padding: 10px 10px;
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}

.modal__title {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  border-bottom: 1px solid rgba(187, 187, 187, 0.5);
}

.modal__title > h5 {
  color: gray;
  font-size: 20px;
  cursor: pointer;
  font-weight: 500;
  margin-right: 30px;
}

.modal__title > h5:hover {
  color: black;
}

.modal__info {
  display: flex;
  align-items: center;
  margin-top: 30px;
}
.modal__info > p {
  margin-left: 10px;
  font-size: small;
  color: gray;
}

.modal__info > .modal__scope {
  display: flex;
  align-items: center;
  color: rgb(98, 98, 98);
  padding: 5px;
  margin-left: 10px;
  background-color: rgb(230, 230, 230);
  border-radius: 33px;
  cursor: pointer;
}

.modal__Field {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  flex: 1;
}
.avatar-url {
  height: "10px";
  object-fit: contain;
}

.modal__Field > .modal__fieldLink {
  color: gray;
  display: flex;
  margin-top: 10px;
  align-items: center;
}

.modal__Field > .modal__fieldLink > input {
  flex: 1;
  border: none;
  outline: none;
  margin-left: 5px;
}

.modal__buttons {
  display: flex;
  flex-direction: column-reverse;
  margin-top: 10px;
  align-items: center;
}

.modal__buttons > .cancel {
  margin-top: 10px;
  border: none;
  outline: none;
  color: gray;
  font-weight: 500;
  padding: 10px;
  border-radius: 33px;
  cursor: pointer;
}

.modal__buttons > .cancel:hover {
  color: red;
}

.modal__buttons > .add {
  border: none;
  outline: none;
  margin-top: 10px;
  background-color: #222;
  color: white;
  font-weight: 700;
  padding: 10px;
  border-radius: 33px;
  cursor: pointer;
  width: 20%;
}

.modal__buttons > .add:hover {
  background-color: #eee;
  color: #222;
}

@media only screen and (max-width: 600px) {
  .qHeader__icons {
    display: none;
  }

  .qHeader__input {
    display: none;
  }
}
